@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:600");

body {
  color: #111111;
  font-family: "Nunito Sans", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  background-image: url("assets/gradient_blur.jpg");
}
.glass{
  background: rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}
.cover{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}