@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:600");

body {
  color: #111111;
  font-family: "Nunito Sans", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  padding: 0;
}